<% layout('layouts/boilerplate') %>
  <h1>All Campgrounds</h1>
  <ul>
    <% for(let camp of campgrounds) {%>
      <li>
        <%=camp.title %> - <a href="/campgrounds/<%=camp.id  %>">details</a>
      </li>
      <% } %>
  </ul>

  <a href="/campgrounds/new">New campground</a>